/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Verdana", "Helvetica", "Century Gothic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

/* Header Component Styles */
header {
  background-color: blue;
  height: 20px;
  width: 100%;
  position: relative;
}

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #ff6600;
  width: 100%;
  height: 24px;
  position: relative;
}

.navigation ul {
  list-style: none;
  padding: 0 0;
  margin: 0 0;
  display: flex;
}

.navigation li:hover {
  cursor: pointer;
}

.news-links {
  flex: 1;
}

.news-links .top-nav {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.news-links .top-nav li:nth-child(2) {
  font-weight: 800;
  margin: 0 3px 0 0;
}

.news-links .top-nav li ~ li {
  display: flex;
  align-items: center;
  font-size: 13px;
  margin: 0 5px;
}

.news-links .top-nav span {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.logo {
  background: url("../assets/logo.gif");
  background-position: center center;
  width: 18px;
  height: 18px;
  border: 1px solid white;
  margin: 0px 5px 0px 3px;
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

.active-link {
  color: white;
  font-weight: bold;
}

/* Canvas Component Styles */
.canvas {
  background-color: #f6f6ef;
  height: auto;
  width: 83vw;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.canvas p {
  margin: 0;
  font-size: 14px;
  padding-bottom: 8px;
}

.main {
  display: flex;
  padding-top: 10px;
}
/* Button styles */
.button-container {
  display: flex;
  justify-content: flex-end;
  flex: 0;
  height: 30px;
}

.button-background {
  border-radius: 3px;
  border: 1px solid #ff6600;
  color: #ff6600;
  transition: color 300ms ease;
  position: relative;
  box-sizing: border-box;
  padding: 5px 5px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
}

.button-background:hover {
  cursor: pointer;
  color: white;
}

.button-background:focus {
  outline: none;
}

.button-background:before {
  content: "";
  position: absolute;
  background: #ff6600;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 0;
  transition: top 300ms ease;
  border-radius: 1px;
}

.button-background:hover:before {
  top: 0;
}

.button-background:active:before {
  background-color: rgba(255, 102, 0, 0.8);
}

.button-background span {
  z-index: 1;
  font-size: 10px;
  font-weight: 700;
}

/* PostListing Component Styles */
.post-wrapper {
  padding-bottom: 5px;
  list-style: none;
  padding: 0 0;
  margin: 0 0;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  flex: 1;
  order: -1;
}

.post-wrapper li {
  margin-bottom: 8px;
  margin-left: 8px;
}

.pagination {
  padding: 10px 0 15px;
  margin-left: 30px;
}

.pagination p {
  color: rgba(0, 0, 0, 0.7);
  padding: 0 0;
  width: 35px;
}

.pagination p:hover {
  cursor: pointer;
}

.post-options {
  color: rgb(102, 102, 102);
}

.post-options p > * {
  text-decoration: none;
  color: rgb(102, 102, 102);
}

.post p,
.post-options span,
.post-options p {
  margin: 0 2px;
}

.post p,
.post-options p {
  padding: 0 0;
}

/* <div className="post"> styles */
.post {
  display: flex;
}

.post p ~ p:hover {
  cursor: pointer;
}

.post p a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

.post div {
  font-size: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(102, 102, 102);
  height: 17px;
  width: 275px;
  margin-left: 2px;
  overflow: hidden;
}

/* <div className="post-options"> styles */
.post-options {
  display: flex;
  margin-left: 19px;
}

.post-options p,
span {
  font-size: 10px;
}

.post-options p ~ p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.main.post-thread {
  display: flex;
  flex-direction: column;
}

.post-thread ul {
  padding: 0 0;
  margin: 0 0;
  width: 100%;
  height: 100%;
  list-style: none;
}

.post-thread .post-title {
  display: flex;
  align-items: center;
  margin: 5px 0 0 25px;
}

.post-thread .post-title a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.post-thread .post-title p:last-child {
  margin: 0 0 0 4px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.6);
  padding: 0 0 6px;
}

.post-thread .post-stats {
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  margin: -6px 0 0 25px;
}

.post-stats p {
  font-size: 11px;
  margin: 0 0;
  padding: 0 0;
}

.post-stats p ~ p {
  margin-left: 4px;
}

.post-stats p:nth-child(2) {
  font-weight: 700;
}

.post-stats p:nth-child(2):hover {
  cursor: pointer;
  text-decoration: underline;
}

.disclaimer {
  box-sizing: border-box;
  margin: 12px 20% 0;
  padding: 10px 12%;
  text-align: center;
  height: auto;
  background: hsl(24, 100%, 80%);
  border-radius: 7px;
}

.disclaimer p {
  font-size: 12px;
  padding: 0 0;
  color: rgba(0, 0, 0, 0.7);
}

.disclaimer p a {
  color: rgba(0, 0, 0, 0.7);
}

.comment-thread li {
  padding: 0 25px;
  box-sizing: border-box;
  font-size: 12px;
}

.comment-thread li:first-child {
  margin-top: 15px;
}

.comment-thread li ~ li {
  margin: 25px 0;
}

.post-wrapper.comment-thread li:first-child {
  margin: 2px 0 0 8px;
}

.post-wrapper.comment-thread {
  list-style: none;
}

.post-wrapper.comment-thread li ~ li {
  margin: 8px 0;
  padding: 0 32px;
}

.head-comment > *,
.head-comment > p,
.head-comment > * > * {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.9);
  padding: 0 0;
  margin: 10px 0 10px;
}

.user {
  font-weight: 700;
}

.comment-heading {
  color: rgba(0, 0, 0, 0.6);
  margin: 0 0 10px;
}

.comment-heading span {
  font-size: 12px;
}

.comment-heading span a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

.comment-heading span a:hover {
  text-decoration: underline;
  cursor: hover;
}

.comment-heading span:first-child {
  font-weight: 700;
}

.comment-heading span:first-child:hover {
  cursor: pointer;
  text-decoration: underline;
}

.comment-heading .parent-title {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  margin-left: 4px;
}

.comment-heading .parent-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.comment-container .child-comment-container {
  padding: 0 0 0 30px;
  margin: 0 0;
  font-size: 12px;
  box-sizing: border-box;
}

.comment-container .child-comment-container .child-comment {
  margin: 0 0;
  padding: 15px 0 0;
}

.child-heading {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 8px;
}

.child-heading span {
  font-size: 12px;
}

.child-heading span a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.child-heading span a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.child-heading .user:hover {
  cursor: pointer;
  text-decoration: underline;
}

.child-comment .reply > *,
.child-comment .reply > p,
.child-comment .reply > * > * {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.9);
  padding: 0 0;
  margin: 10px 0 10px;
}

.load-screen {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-20%);
}

.load-screen span {
  font-size: 14px;
}

.load-screen span:first-child {
  margin-bottom: 15px;
}

.load-screen div {
  margin-top: 25px;
}

.ball-container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  position: relative;
}

.ball-container::before,
.ball-container::after {
  background-color: grey;
  border-radius: 100px;
  width: 12px;
  height: 12px;
  content: "";
  position: relative;
}

.ball-container::before {
  animation: worm 900ms 600ms linear infinite;
}

.ball {
  background-color: grey;
  border-radius: 100px;
  width: 12px;
  height: 12px;
  position: relative;
  animation: worm 900ms 300ms linear infinite;
}

.ball-container::after {
  /* margin-left: 40px; */
  animation: worm 900ms linear infinite;
}

@keyframes worm {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  50% {
    transform: translateY(-110%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.main.user {
  margin-left: 25px;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.9);
}

.main.user .subs {
  margin-left: 5px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
}

.main.user .subs:hover {
  text-decoration: underline;
  cursor: pointer;
}

.main.user .post-wrapper {
  order: 0;
}

/* Footer Styles */
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 15px 0 15px;
}

.footer::before {
  background-color: #ff6600;
  height: 2px;
  width: 100%;
  transform: translateY(-15px);
  position: relative;
  content: "";
}

.footer p {
  font-size: 11px;
  padding: 0 0;
}

.fas.fa-heart {
  color: red;
  font-size: 12px;
}

.fab.fa-github {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
}

.footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  margin-left: 3px;
}

.footer a:hover {
  cursor: pointer;
  text-decoration: underline;
}
