/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Verdana", "Helvetica", "Century Gothic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

/* Header Component Styles */
header {
  background-color: blue;
  height: 20px;
  width: 63%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #FF6600;
  width: 83vw;
  height: 24px;
}

.navigation ul {
  list-style: none;
  padding: 0 0;
  margin: 0 0;
  display: flex;
}

.navigation li:hover {
  cursor: pointer;
}

.news-links {
  flex: 1;
}

.news-links .top-nav {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.news-links .top-nav li:nth-child(2) {
  font-weight: 800;
  margin: 0 3px 0 0;
}

.news-links .top-nav li ~ li {
  display: flex;
  align-items: center;
  font-size: 13px;
  margin: 0 5px;
}

.news-links .top-nav span {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.logo {
  background: url("../assets/logo.gif");
  background-position: center center;
  width: 18px;
  height: 18px;
  border: 1px solid white;
  margin: 0px 5px 0px 3px;
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

.active-link {
  color: white;
  font-weight: bold;
}

.user-portal {
  flex: 0;
  display: flex;
  align-items: center;
}

.user-portal .login {
  font-size: 13px;
  margin-right: 5px;
}

/* Canvas Component Styles */
.canvas {
  background-color: #F6F6EF;
  height: 100%;
  max-width: 100%;
  margin-top: 10px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.canvas p {
  margin: 0;
  font-size: 14px;
  padding-bottom: 8px; 
}

.main {
  display: flex;
  padding-top: 10px;
}
  /* Button styles */
.button-container {
  display: flex; 
  justify-content: flex-end;
  flex: 0;
  height: 30px;
}

.button-background {
  border-radius: 3px;
  border: 1px solid #FF6600; 
  color: #FF6600; 
  transition: color 300ms ease;
  position: relative;
  box-sizing: border-box;
  padding: 5px 5px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
}

.button-background:hover {
  cursor: pointer;
  color: white;
}

.button-background:focus {
  outline: none;
}

.button-background:before {
  content: "";
  position: absolute;
  background: #FF6600;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 0;
  transition: top 300ms ease;
  border-radius: 1px;
}

.button-background:hover:before {
  top: 0;
}

.button-background span {
  z-index: 1;
  font-size: 10px;
  font-weight: 700;
}

/* PostListing Component Styles */
.post-wrapper {
  padding-bottom: 5px;
  list-style: none;
  padding: 0 0;
  margin: 0 0;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  flex: 1;
  order: -1;
}

.post-wrapper li {
  margin-bottom: 8px;
  margin-left: 8px;
}

.post-options {
  color: rgb(102, 102, 102);
}

.post p, .post-options span, 
.post-options p {
  margin: 0 2px;
}

.post p, .post-options p {
  padding: 0 0;
}

  /* <div className="post"> styles */
.post {
  display: flex;
}

.post p ~ p:hover {
  cursor: pointer;
}

.post div {
  font-size: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(102, 102, 102);
  height: 17px;
  width: 275px;
  margin-left: 2px;
  overflow: hidden;
}

.post div:hover {
  text-decoration: underline;
  cursor: pointer;
}

.fas.fa-caret-up {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  font-size: 20px;
  color: rgb(151, 151, 151);
}

.fas.fa-caret-up:hover {
  cursor: pointer;
}

  /* <div className="post-options"> styles */
.post-options {
  display: flex;
  margin-left: 39px;
}

.post-options p, span {
  font-size: 10px;
}

.post-options p ~ p:hover {
  cursor: pointer;
  text-decoration: underline;
}
